body{ background-color:black;

}
h1,p {text-align:center;
color:white;
}
.container{ 
  display: flex;
background-color:white;
width:1450px;
margin:20px auto;
content:center;
}

.container div{
  background-color: black;
  margin:10px;
  padding: 20px;
  font-size: 24px;
}

#footer {
  background-color:pink;
  color: white;
  text-align:center;
  padding: 2rem;
  margin-top: 2rem;
}

.social a{
  color:white;
  margin: 0 1rem;
  font-size:1.2rem;
}